@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

html{
	font-size: 62.5%;
}

body {
	font-family: 'Poppins', sans-serif;
	text-align: center;
}

/* Estilos encabezado */

.logo {
	width: 80px;
	height: auto;
}

.nav-right {
	justify-content: right;
}

.navbar {
	background-color: rgb(0, 0, 0, 0.8);
	position: fixed;
	width: 100%;
	z-index: 999;
}

.encabezado section .logo-encabezado {
	max-width: 600px;
}

.encabezado {
	background-image: url("../img/solar-panels-encabezado.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.encabezado section {
	/* color: rgb(34, 34, 34); */
	background-color: rgb(34, 34, 34, 0.8);
}

.encabezado section p {
	color: #FFFFFF;
	max-width: 500px;
	margin: 10px auto;
}

.navbar div button {
	color: white;
}

.dropdown .fa-user {
	color: white;
	font-size: 2.5rem;
}

.container .usuario {
	justify-content: center;
}

.navbar-collapse .navegacion button {
	font-size: 2rem;
}

.dropdown-menu li a {
	font-size: 1.6rem;
}

.parrafo-encabezado {
	font-size: 2rem;
}

.container button .fa-bars{
	font-size: 2rem;
}

@media(max-width: 768px){
	.encabezado section .logo-encabezado {
		max-width: 300px;
	}
}

/* Estilos encabezado */


/* ESTILOS SECCION MISION VISION VALORES*/

.section-Title{
	text-align: center;
	padding: 40px;
}

.section-Title h5 {
	font-size: 1.6rem;
}

#icon{
	color: #52819B;
	font-size: 7rem;
	margin: auto;
}
.card-text-content{
	font-size: 1.6rem;
	text-align: justify;
}
.card-title-content{
	font-size: 2rem;
	text-align: center;
}
.section-project{
	background-color: #33373D;
	color: white;
	padding-top: 20px;
	text-align: center;
}
.titulo-principal{
	font-size: 2rem;
}
.container-proyectos{
	display: flex;
}
.container-proyecto-img{
	margin: 20px;
	justify-content: center;
}
.img-proyecto1{
	width: 400px;
	height: auto;
	border-radius: 5%;
	text-align: center;
}
.img-proyecto2{
	width: 395px;
	height: auto;
	border-radius: 5%;
}
.container-proyectos-cont{
	font-size: 1.6rem;
}
.titulo-proyecto{
	font-size: 2rem;
	text-align: center;
	margin:10px;
	font-weight: lighter;
}
.container-parrafos{
	text-align: justify;
	font-weight: lighter;

}
.btn-primary{
	color: white;
	align-items: center;
	border: #8D8C8C 0.5px solid;
	padding: 5px 40px;
	border-radius: 10px;
	outline: none;
	margin-top: 20px;
	font-weight: lighter;
}

@media only screen and (min-width: 768px) and (max-width:1023px){
	.section-project{
		max-width: 100%; 
	}
	.container-proyectos{
		max-width: 100%;
	}
	.img-proyecto1{
		max-width: 80%;
	}
	.img-proyecto2{
		max-width: 80%;
	}
	}

@media only screen and (max-width: 768px){
.section-project{
	max-width: 100%; 
}
.container-proyectos{
	max-width: 100%;
	display: flex;
	flex-direction: column; 
}
.container-proyecto-img{
	max-width: 100%;
}
.img-proyecto1{
	max-width: 80%;
}
.img-proyecto2{
	max-width: 80%;
}
}

/* ESTILOS SECCION MISION VISION VALORES*/

/*Parte Blog*/

.BologTitulo {

	text-align: center;
	box-sizing: border-box;
	background-color: white;
	padding: 4px;
}

.BologTitulo h2 {
	font-size: 2rem;
	margin-top: 30px;
}

.contenedorBlog {
	flex: 0 0 48%;
	margin: 15px;
}

.imgBlog {
	width: 800px; 
	border-radius: 8px;
}

.articulosBlog {
	background-color: white;
	text-align: left;
	font-size: 2rem;
	margin: 15px;
	padding: 15px;
	padding-left: 100px;
	border-radius: 8px;
	box-sizing: border-box;
}

.articulosBlog h3 {
	font-size: 2rem;
}

@media only screen and (min-width: 800px) {
	.blogyarticuloContenedor {
		flex: 0 0 48%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 15px;
		padding: 15px;
		border-radius: 8px;
		box-sizing: border-box;

	}
	.imgBlog {
			max-width: 100%;
			height: auto;
	}
}

@media only screen and (max-width: 800px) {
 .imgBlog{
	width: 350px;
	height: auto;
 }
}

.pBlog {
	background-color: white;
	text-align: justify;
	font-size: 1.6rem;
	padding: 15px;
	border-radius: 8px;
	box-sizing: border-box;
}

/*Parte Blog*/

/*-------------------Estilo de pagina nosotros-------------------------------*/
.sectionNosotros{
	background-color:rgb(51, 55, 61) ;
}
.sectionNosotros h5{
	padding-top: 5%;
	margin-bottom: 5%;
	text-align: center;
	font-size: 2.5rem;
	color: white;
}
.gridNosotros{
	display: grid;
	grid-template-columns: 25% 25% 25% 25%;
	gap:0.2rem ;
	height: auto;
	flex-wrap: wrap;
}


.perfil {
	margin: 5%;
	text-align: center;
	color: white;
}
.perfil img{
	padding: 3%;
	align-items: center;
	height: 220px;
	/* width: 220px; */
	border-radius: 50%;
}
.perfil p{
	margin: 2%;
	font-size: 1.6rem;
}
/*-----------------Estilo Pagina de contactenos ---------------------------*/
.section-contactenos form p {
	font-size: 1.6rem;
}

.section-contactenos form input {
	height: 35px;
}

.section-contactenos h6{
	text-align: center;
	font-size: 2.5rem;
	margin-top: 10%;
	margin-bottom: 10%;
}
.section-contactenos{
	margin-left: 30%;
	margin-right: 30%;
	margin-bottom: 10% ;
}

.divContactos{
	display: grid;
	grid-template-columns: 45% 45%;
	gap: 10%;
	margin-bottom: 2%;
}
.form-outline{
	border-radius: 6px;
	background-color: rgba(102, 98, 98, 0.664);
}

.button-12 {
	width: 60%;
	margin-left: 20%;
	margin-right: 30%;
	padding: 6px 14px;
	border-radius: 6px;
	border: none;
	background:rgba(102, 98, 98, 0.664);
	color: black;
	user-select: none;
	-webkit-user-select: none;
	font-size: 1.6rem;
}
/*-----------------Estilo de Pie de Página ---------------------------*/
footer{
	text-align: center;
	background-color: rgba(102, 98, 98, 0.664);
}
.footerParrafo{
	font-size: 1.6rem;
	padding-top: 2%;
	margin-bottom: 5%;
}
.boton{
	color: black;
	margin: 2%;
}
.copy{
	font-size: 1.6rem;
	margin-top: 5%;
}

footer .containerFooter i {
	font-size: 4rem;
}
/*----------------------------------------------Responsive de contactenos-------------------*/

/*-------Desing Responsive Ipad 11Pro-------*/
@media only screen and (max-width: 834px) {
	.gridNosotros{
		margin: 2%;
		display: grid;
		grid-template-columns: 50% 50%;
		height: auto;
		align-items: center;
	}
	.perfil img{
		width: auto;
	}
	.section-contactenos{
		margin-left: 8%;
		margin-right: 8%;
		text-align: center;
	}
	.divContactos{
		display: grid;
		grid-template-columns: 100%;
		margin-bottom: 10%;
	}
	#name,
	#email,
	#phone{
	height: 70px;
	}
	
	.section-contactenos p,
	.divContactos p{
		font-size: 1.6rem;
	}
	
}
/*-------Desing Responsive Iphone 13Pro-------*/
@media only screen and (max-width: 390px) {
	.gridNosotros{
		display: flex;
		/* height: auto; */
		align-items: center;
	}
	/* .perfil img{
		width: auto;
	} */
	.section-contactenos{
		text-align: center;
	}
	h6{
		text-align: center;
		margin-top: 10%;
	}
	.divContactos{
		display: grid;
		grid-template-columns: 100%;
		margin-bottom: 10%;
	}
	form{
		margin-left: 5%;
		margin-right: 5%;
		margin-bottom: 5%;
	}
	.section-contactenos p,
	.divContactos p{
		font-size: 1.6rem;
	}
	.containerFooter{
		margin: 0;
		padding: 0;
	}	
}
