
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	font-size: 62.5%;
}
/* Estilos nav-bar */
body {
	font-family: 'Poppins', sans-serif;
	text-align: center;
}

.logo {
	width: 40px;
	height: auto;
}

.navbar {
	background-color: rgb(0, 0, 0, 0.8);
	position: fixed;
	width: 100%;
	z-index: 999;
	top: 0;
	left: 0;
}

.navbar div button {
	color: white;
}

.dropdown .fa-user {
	color: white;
	font-size: 2.5rem;
}

.nav-right {
	justify-content: right;
}

.container .usuario {
	justify-content: center;
}

.container button .fa-bars{
	font-size: 2rem;
}

.navbar-collapse .navegacion button {
	font-size: 1.6rem;
}

.dropdown-menu li a {
	font-size: 1.6rem;
}

/* Estilos login */

main .login, main .registro-r {
	width: 50%;
}

main .registro-r {
	background-color: #33373D;
}

/* Parte izquierda */

main {
	margin-top: 50px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	height: 450px;
	/* margin-bottom: 20px; */
}

main .login label {
	font-size: 1.3rem;
}

main .login h2 {
	padding-top: 60px;
	font-weight: 700;
}

.login form {
	display: flex;
	flex-direction: column;
}

.login form .campo {
	min-width: 300px;
	margin: 10px auto;
	padding-left: 15px;
	height: 40px;
	border-radius: 15px;
	font-size: 1.3rem;
}

main .login .btn-login {
	min-width: 150px;
	height: 40px;
	margin: 20px auto;
	border-radius: 15px;
	background-color: #252627;
	color: #ffff;
	font-size: 1.3rem;
}

/* Parte derecha */

.registro-r {
	display: flex;
	flex-direction: column;
}

main .registro-r .btn-registro {
	min-width: 150px;
	height: 40px;
	margin: 20px auto;
	border-radius: 15px;
	font-size: 1.3rem;
}

main .registro-r h2 {
	margin-top: 60px;
	color: #ffff;
	font-weight: 700;
}


@media(max-width: 768px){
	main {
		flex-direction: column;
	}
	
	main .login, main .registro-r {
		width: 100%;
	}
}

/*-----------------Estilo de Pie de Página ---------------------------*/
footer{
	background-color: rgba(102, 98, 98, 0.664);
	font-size: 1.3rem;
	height: auto;
}
h5{
	/* margin-top: 2%; */
	padding-top: 30px;
	font-size: 1.5rem;
}
.parrafo{
	font-size: 1.3rem;
}
#ComtainerI a i{
	color: black;
	font-size: 2rem;
	margin-right: 6%;
	margin-top: 6%;
}

@media(min-width: 768px){
	main{
		margin-bottom: 0;
	}
	footer{
		/* margin-top: 55px; */
		width: 100%;
		/* height: 188px; */
	}
}
/*----------------------------------------------Responsive de contactenos-------------------*/

/*-------Desing Responsive Ipad 11Pro-------*/
@media only screen and (max-width: 834px) {
	.gridNosotros{
		margin: 2%;
		display: grid;
		grid-template-columns: 50% 50%;
		height: auto;
		align-items: center;
	}
	.perfil img{
		width: auto;
	}
	.section-contactenos{
		margin-left: 2%;
		margin-right: 2%;
		text-align: center;
	}
	.divContactos{
		display: grid;
		grid-template-columns: 100%;
		margin-bottom: 10%;
	}
	#name,
	#email,
	#phone{
	height: 40px;
	}
	
	.section-contactenos p,
	.divContactos p{
		font-size: 1.6rem;
	}
	#ComtainerI a i{
		margin-bottom: 2%;
	}

}
/*-------Desing Responsive Iphone 13Pro-------*/
@media only screen and (max-width: 390px) {
	.gridNosotros{
		display: grid;
		grid-template-columns: 100%;
		align-items: center;
	}
	.containerGrid{
		display: grid;
		grid-template-columns: 100%;
	}
	.section-contactenos{
		font-size: 1rem;
		margin: 20px;
		padding: 50px;
	}
	.section-contactenos h6{
		text-align: center;
		font-size: 1.5rem;
	}

	.divContactos{
		display: grid;
		grid-template-columns: 100%;
	}
	.section-contactenos p{
		font-size: 1.3rem;
	}
	#name,
	#phone,
	#email {
	width: 200px;
	height: 30px;
	}
	#ComtainerI a i{
		margin-bottom: 8%;
	}
}