@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

html{
	font-size: 62.5%;
}

body {
	font-family: 'Poppins', sans-serif;
	text-align: center;
}

/* Estilos encabezado */

.logo {
	width: 40px;
	height: auto;
}

.nav-right {
	justify-content: right;
}

.navbar {
	background-color: rgb(0, 0, 0, 0.8);
	position: fixed;
	width: 100%;
	z-index: 999;
	top: 0;
	left: 0;
}

.encabezado section .logo-encabezado {
	max-width: 600px;
	/* position: relative; */
	/* z-index: 999; */
}

/* .encabezado {
	background-image: url("../img/Carrusel_3.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
} */

/* Fondo oscuro transparente */

.carousel-item::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgb(0, 0, 0, 0.8);
}

/* Fondo oscuro transparente */

.encabezado section p {
	color: #FFFFFF;
	max-width: 500px;
	margin: 10px auto;
}

.navbar div button {
	color: white;
}

.dropdown .fa-user {
	color: white;
	font-size: 2.5rem;
}

.container .usuario {
	justify-content: center;
}

.navbar-collapse .navegacion button {
	font-size: 1.6rem;
}

.dropdown-menu li a {
	font-size: 1.6rem;
}

.parrafo-encabezado {
	font-size: 1.3rem;
}

.container button .fa-bars{
	font-size: 2rem;
}

@media(max-width: 768px){
	.encabezado section .logo-encabezado {
		max-width: 300px;
	}
	.parrafo-encabezado{
		display: none;
	}
}

/* -------------------Fin Estilos Encabezado--------------------------- */
/* -------------------Estilos Perfil Administrador--------------------------- */

.contenedorMain{
    display: grid;
    grid-template-columns: 32% 68%;
    text-align: left; 
}
.bienvenida{
	font-size: 1.6rem;
	color: black;
	margin: 2%;
}
.contendorPerfilAdmin{
    margin-left: 50px;
    text-align: left;
	font-size: 1.3rem;
	color: black;
}
.contendorPerfilAdmin div{
    margin: 10px;
}
.contendorPerfilAdmin i{
	height:auto;
	width: auto;
	background-color: #d9d9d9;
	padding: 15px;
	border-radius: 50%;
}
.datosPersonales i{
	width: 50px;
    padding-left:22px ;
}
.contendorPerfilAdmin a{
	color: black;
}
.contendorPerfilAdmin a:hover{
	cursor: pointer;
	background-color: #7699B8;
	padding: 2px;
	border-radius: 5px;
	color: white;
	transition: none;
}
.itemPedido{
    background-color: #d9d9d9;
    padding: 2%;
    border-radius: 10px;
    margin-bottom: 20Px;
    margin-right: 50px;
}
.nPedido{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    font-size: 1rem;
    text-align: center;
    align-items: center;
}
.nPedido h2{
    font-size: 1.1rem;
    text-align: center;
}

.item{
    background-color: white;
    border-radius: 10px;
    font-size: 1.3rem;
    display: grid;
    grid-template-columns: 20% 50% 30%;
    align-items: center;
}
.item img{
    height: 100px;
    margin-left: 3%;
}
.titulo{
	padding: 1%;
}
.pedido{ 
    padding: 2%;
    border-radius: 24px;
    display: grid;
    grid-template-columns: 80% 20%;
    align-items: center;
    justify-content: center;
}
.contadorCantidad{
	padding-top: 5%;
	display: flex;
	justify-content: space-between;
	margin: 20%;
	align-items: center;
	text-align: center;
}
.contadorCantidad i{
	color: #000;
    font-size: 1rem;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #7699B8;
    cursor: pointer;
    display: block;
    background: #7699B8;
	padding: 5%;
	justify-content: center;
}
.contadorCantidad i:hover{
	background-color: white;
	border: 1px solid #7699B8;
}

.pagar{
    margin: 1%;
	padding: 20%;
    position: relative;
    left: 20px;
	font-size: 1.3rem;
	background-color: #7699B8;
	border-radius: 10px;
	border: 1px solid transparent;
	color: white;
	width: 120px;
}
.pagar:hover{
	background-color: white;
	color: black;
	border: 1px solid #7699B8;
}
/*-----------------Estilo de Pie de Página ---------------------------*/
footer{
	background-color: rgba(102, 98, 98, 0.664);
	font-size: 1.3rem;
}
h5{
	margin-top: 2%;
	font-size: 1rem;
}
.parrafo{
	font-size: 1rem;
}
#ComtainerI a i{
	color: black;
	font-size: 2rem;
	margin-right: 6%;
	margin-top: 6%;
}

